/* AdminDashboard.css */
.sidebar-item {
    background-color: black;
    color: white;
  }
  
  .sidebar-item:hover {
    background-color: #333; /* Change color on hover */
  }
  
  .sidebar-item.Mui-selected {
    background-color: #555; /* Change color when selected */
  }
  